<!-- Sign-Up Form Begin-->
<ion-modal-view ng-controller="SignInCtrl">
  <ion-header-bar>
    <div class="sign-in-form">
      <h1 class="title" ng-hide="toggleValue">Sign In</h1>
      <h1 class="title" ng-show="toggleValue">Sign Up</h1>
      <div class="buttons">
        <button class="button" ng-click="closeLogin()">
          <i class="icon ion-ios-arrow-back"> Back</i>
        </button>
      </div>
    </div>
  </ion-header-bar>
  <ion-content>
    <div ng-hide="toggleValue">
      <form ng-submit="submitLogIn()">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Email</span>
            <input ng-model="self.logIn.email" type="email" ng-model="email" placeholder="Email">
          </label>
          <label class="item item-input" for="exampleInputPassword1">
            <span class="input-label">Password</span>
            <input ng-model="self.logIn.password" type="password" ng-model="password" placeholder="Password">
          </label>
            <button type="submit" class="button button-block button-positive">Login</button>
            <!-- ng-disabled="signInForm.$invalid" originally in button tag -->
          </div>
      </form>

      <p>
          If you are not a user yet,
          <a ng-click="toggleValue = !toggleValue">Sign Up</a>.
      </p>
    </div>
    <div ng-show="toggleValue">
      <form ng-submit="submitSignUp();">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Email</span>
            <input ng-model="signUp.email" type="email" id="exampleInputEmail1" placeholder="Email">
            <!-- <small ng-show="conflict" class="text-danger"><em>Email exists…</em></small> -->
          </label>
          <label class="item item-input">
            <span class="input-label">Name</span>
            <input ng-model="signUp.name" type="text" placeholder="Name">
          </label>
          <label class="item item-input">
            <span class="input-label">Password</span>
            <input ng-model="signUp.password" type="password" placeholder="Password">
          </label>
          <label class="item item-input">
            <span class="input-label">Password confirmation</span>
            <input ng-model="signUp.passwordConfirmation" type="password" placeholder="Password">
          </label>
          <button type="submit" class="button button-block button-positive">Signup</button>
        </div>
      </form>

      <p>
        <strong>
          If you are already a user,
          <a class="underline" ng-click="toggleValue = !toggleValue">Sign In</a>.
        </strong>
      </p>
    </div>
  </ion-content>
</ion-modal-view>
<!-- Sign-In-Form End -->
