<ion-view view-title="Home">
  <ion-content ng-contorller="HomeCtrl">
    <ion-refresher on-refresh="doRefresh()">
    </ion-refresher>
      <ion-list>
        <div ng-repeat="picture in pictures">
          <div class="row" ng-if="$even">
            <div class="col col-50"><img ng-src="{{pictures[$index].url}}" class="col"></div>
            <div class="col col-50"><img ng-src="{{pictures[$index + 1].url}}" class="col"></div>
          </div>
        </div>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
