<ion-view view-title="Challenge">
  <ion-nav-buttons side="right">
      <button ng-hide="loggedIn()" class="button" ng-click="goToLogin()">
        <i class="icon ion-log-in"> Login</i>
      </button>
      <button ng-show="loggedIn()" class="button" ng-click="submitLogOut()">
        <i class="icon ion-log-out"> Logout</i>
      </button>
    </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <div ng-repeat="challenge in challenges" class="list card">

        <div class="item">
          <h2>Challenge: {{challenge.title}}</h2>
          <p>points: {{challenge.points}}</p>
        </div>

        <div class="item item-body">
          <!-- //===========================================
              //===== Initial Elements ===============
              //=========================================== -->
          <img ng-show="!picTaken && imgURI === undefined" ng-src="https://lh6.ggpht.com/5pHdNWdGk9mtsdXJe-yd7G-hcJDCWLRtkySTJQTyQbix8-1VxyVILt355AMflveH_U8=w300">
          <p ng-show="!picTaken && imgURI === undefined">{{challenge.description}}</p>
          <button ng-show="loggedIn() && !picTaken && imgURI === undefined" class="button button-balanced pull-center" ng-click="takePicture()">
            Accept Challenge
          </button>
          <!-- //===========================================
              //===== Before Picture Submit ===============
              //=========================================== -->
              <form ng-show="picTaken" ng-submit="addPicture()">
                <div>
                  <img ng-src="{{imgURI}}">
                  <input type="text" ng-model="picture.description" placeholder="Description here...">
                  <input type="text" ng-hide="true" ng-init="picture.challenge_id = challenge._id" value="{{challenge._id}}">
                </div>
                <button type="submit" value="Submit Challenge" class="button button-balanced pull-center">Submit Challenge</button>
              </form>
            <!-- //===========================================
                //===== AFTER CHALLENGE SUBMIT ===============
                //=========================================== -->
              <div ng-show="!picTaken && imgURI !== undefined">
                <h2>Challenge Completed!</h2>
                <img ng-src="{{imgURI}}">
              </div>
        </div>

      </div>
    </ion-list>
  </ion-content>
</ion-view>
